@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Do Hyeon';
 
}
.introduceForm{
    display: inline;
    position: relative;
    left: 30px;
    bottom: 70px;
    line-height:80px;
    z-index: 1;
}
.introduceForm h1{ 

    color: rgb(51, 197, 197);
    font-size: 4rem;
}